.h1_button{
    -fx-font-size: 3em;
    -fx-font-family: "HelveticaNowDisplay-Bold";
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-radius: 15;
}

.h1_button:hover {
    -fx-background-color: #8f250c;
    -fx-text-fill: #FEFAE0;
}

.h1_button:hover .button-graphic {
    -fx-text-fill: white;
}