.h1_button {
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-text-fill: initial;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-radius: 30 0 0 30;
}

.h1_button:hover {
    -fx-background-color: #A4AE81;
    -fx-text-fill: white;
}