.sidebar,
.navbar {
    -fx-background-color: #F7ECB7;
}

.navbar-pane:hover .label {
    -fx-border-color: transparent transparent #BC6C25 transparent;
    -fx-border-width: 0 0 5 0;
}

.underline-label {
    -fx-border-color: transparent transparent #8f250c transparent;
    -fx-border-width: 0 0 5 0;
}

.right-pane {
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.75), 4.75, 0, 4, 0);
}

.sidebar-pane {
    -fx-font-family: "HelveticaNowDisplay-Bold";
}

.sidebar-pane:hover {
    -fx-background-color: rgba(143, 37, 12, 0.7);
}

.sidebar-pane:hover .label {
     -fx-translate-x: -15;
     -fx-text-fill: white;
 }

.sidebar-pane:hover FontIcon {
    -fx-icon-color: white;
    -fx-translate-x: 15;
}

.sidebar-pane-active {
    -fx-background-color: #8f250c;
}

.sidebar-pane-active .label {
    -fx-text-fill: white;
}

.sidebar-pane-active FontIcon {
    -fx-icon-color: white;
}