.sidebar {
    -fx-background-color: #F7ECB7;
    border-right: ;
}

.h1_button {
    -fx-font-family: "HelveticaNowDisplay-Bold";
    -fx-font-size: 3em;
    -fx-background-color: none;
    -fx-text-fill: initial;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-radius: 30 0 0 30;
}

.h1_button:hover {
    -fx-background-color: #A4AE81;
    -fx-text-fill: white;
    -fx-translate-y: -7;
}