.popup-container {
    /* dropshadow(blurType, color, radius, spread, offsetX, offsetY)
       blurType: gaussian
       color: rgba(0,0,0,0.5)
       radius: 10
       spread: 0.5
       offsetX: 0
       offsetY: 5
    */
    -fx-effect: dropshadow(gaussian, black, 10, 0.6, 0, 0);
}

#popupErrorAnchorPane,
#popupSuccessAnchorPane {
    -fx-background-color: transparent;
}

.green-box {
    -fx-background-color: #606C38;
    -fx-background-radius: 20 20 0 0;
}

.red-box {
    -fx-background-color: #8F250C;
    -fx-background-radius: 20 20 0 0;
}

.bottom-section {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 0 0 20 20;
}

.icon {
    -fx-icon-color: white;
}

.popup-text {
    -fx-fill: white;
}

.close-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #BC6C25;
    -fx-border-width: 2;
    -fx-text-fill: #BC6C25;
}

.close-button:hover {
    -fx-background-color: #BC6C25;
    -fx-text-fill: white;
    -fx-border-color: #BC6C25;
}

.undo-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #B54242;
    -fx-border-width: 2;
    -fx-text-fill: #B54242;
}

.undo-button:hover {
    -fx-background-color: #B54242;
    -fx-text-fill: white;
    -fx-border-color: #B54242;
}