.h1 {
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.h1_button {
    -fx-font-size: 3em;
    -fx-font-weight: bold;
}

.h2 {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.h4 {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.img-container {
    -fx-background-image: url("../img/main_bg.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}