/* For all pages */

.main-pane {
    -fx-background-color: #fefae0;
}

.main-button {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.main-button:hover {
    -fx-background-color: #8F250C;
    -fx-text-fill: #FEFAE0;
}

.confirm-button {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #A4AE81;
    -fx-border-width: 2;
    -fx-text-fill: #A4AE81;
}

.confirm-button:hover {
    -fx-background-color: #A4AE81;
    -fx-background-radius: 15;
    -fx-text-fill: white;
    -fx-border-color: #A4AE81;
    -fx-border-width: 2;
}

/* Fonts for USE

HelveticaNowDisplay ExtBlk
HelveticaNowDisplay Black
HelveticaNowDisplay ExtraBold
HelveticaNowDisplay Bold
HelveticaNowDisplay Medium
HelveticaNowDisplay Regular
HelveticaNowDisplay Thin
HelveticaNowDisplay Light
HelveticaNowDisplay ExtLt
HelveticaNowDisplay Hairline

HelveticaNowDisplay-ExtBlkIta
HelveticaNowDisplay-ExtBdIta
HelveticaNowDisplay-BoldIta
HelveticaNowDisplay-MedIta
HelveticaNowDisplay-RegIta
HelveticaNowDisplay-ThinIta
HelveticaNowDisplay-LightIta
HelveticaNowDisplay-HairlineIta

*/

.title {
    -fx-font-size: 6em;
    -fx-font-family: "HelveticaNowDisplay-Bold";
    -fx-text-fill: #8F250C;
}

.h1-bold {
    -fx-font-size: 4em;
    -fx-font-family: "HelveticaNowDisplay-Bold";
}

.h2-bold {
    -fx-font-size: 3em;
    -fx-font-family: "HelveticaNowDisplay-Bold";

}

.h3-bold {
    -fx-font-size: 2em;
    -fx-font-family: "HelveticaNowDisplay-Bold";
}

.h4-bold {
    -fx-font-size: 1.5em;
    -fx-font-family: "HelveticaNowDisplay-Bold";
}

.h5-bold {
    -fx-font-size: 1.2em;
    -fx-font-family: "HelveticaNowDisplay-Bold";
}

.h6-bold {
    -fx-font-size: 0.8em;
    -fx-font-family: "HelveticaNowDisplay-Bold";
}

.h1 {
    -fx-font-size: 4em;
    -fx-font-family: "HelveticaNowDisplay-Regular";
}

.h2 {
    -fx-font-size: 3em;
    -fx-font-family: "HelveticaNowDisplay-Regular";
}

.h3 {
    -fx-font-size: 2em;
    -fx-font-family: "HelveticaNowDisplay-Regular";
}

.h4 {
    -fx-font-size: 1.5em;
    -fx-font-family: "HelveticaNowDisplay-Regular";
}

.h5 {
    -fx-font-size: 1.2em;
    -fx-font-family: "HelveticaNowDisplay-Regular";
}

.h6 {
    -fx-font-size: 0.8em;
    -fx-font-family: "HelveticaNowDisplay-Regular";
}

.img-container {
    -fx-background-image: url("../img/main_bg.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.img-container-2 {
    -fx-background-image: url("../img/main_bg_2.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.inner-pane {
    -fx-background-color: white;
    -fx-background-radius: 35;
}
